.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    column-gap: 4rem;
}

.about__education {
    width: 100%;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__description {
    margin-bottom: var(--mb-1);
    text-align: justify;
}

/* BREAK POINTS */
@media screen and (max-width: 992px) {  
    .about__container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .about__data {
        text-align: center;
    }

    .about__description {
        padding: 0;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .about__description {
        padding: 0;
    }
}